.row{
    background-color: yellow;
    display: flex;
    align-items: center;
    margin: 05% auto;
    justify-content: space-between;

}

.col{
    background-color: turquoise;
    margin: 2%;
    padding: 10px;
    border: 1px solid  black;
    width: 20%;
}


.col-2{
    background-color: turquoise;
    margin: 2%;
    padding: 10px;
    border: 1px solid  black;
    flex: 2;
}

.col-3{
    background-color: turquoise;
    margin: 2%;
    padding: 10px;
    border: 1px solid  black;
    width: 20%;
    flex: 3;
} 